body{
	font-size: 14px;
	padding: 0;
	margin: 0px;
	font-family: "Big Noodle Titling";
}

section{ 
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

}

main section:nth-child(even){
	background-image: linear-gradient(to right, deeppink , purple);
}

main section:nth-child(odd){
	background-color: black;
}

.FlexFather{
	display: flex;
	flex-direction: column;
	width: 70rem;
}

.text-name{
	font-weight: bold;
	font-size: 9em;
	transition: opacity 4s;
	opacity: 0;
}

@font-face {
	font-family: 'Big Noodle Titling';
	src: url("/fonts/big_noodle_titling.ttf") format("truetype"),
	}
	

.barra{
	margin: 12px;
	transition: width 5s;
	width: 0rem;
	height: 5px;
	background-color: white;
	border-radius: 10rem;
}


	.test{
		background-color:red !important
	}
	